*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Regola generale per container img in card */
.card-img{ 
    min-height: 400px;
    background-size: contain;
    background-position: bottom;
}

/* DEBUG */

.debug .col{
    border: 2px solid black;
    /* padding: 20px; */
}

/* HEADER */

.main-header{
    min-height: 100px;
    width: 100%;
    background-color: orange;
    /* position: fixed; */
}


/* MAIN */

.main-content{
    padding: 30px 60px;
}

.row-col-3 > .col{
    flex-basis: calc(100%/ 3);
    /* margin-right: 20px; */
}

/* .row-col-3 > .col:nth-child(3n){
    margin-right: 0;
} */

.card-img.img1{
    background-image: url(../img/1.webp);
}

/* FOOTER */

.main-footer{
    min-height: 100px;
    background-color: black;
}